@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body {
    background-image: linear-gradient(to left, #044040, #591C21);
}

main {
    background-color: #66979720;
    position: relative;
    margin: auto;
    min-width: 280px;
    max-width: 900px;
    min-height: 91vh;
    max-height: 600px;
    border-radius: 10px;
    padding: 20px;
}
h1 {
    font-family: 'Kode Mono';
    font-size: 50px;
    text-align: center;
    color: #f2f2f27c;
    text-shadow: 1px 1px 1px #591C21;
    margin-top: -20px;
}
p {
    font-family: 'Kode Mono';
    font-size: 18px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #591C21;
    margin-top: 20px;
}

article div {
    height: 25%;
   width: 25%;
    border-radius: 10%;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.337);
}

#ferrari {
    background: red url('../JPEG/logo-ferrari.jpg') center center no-repeat fixed;
    background-size: cover;
   top: 50%;
   left: 50%;
   transform: translate(-190%, -50%);
  
}

#lamborghini {
    background: yellow url('../JPEG/logo-lamborghini.jpg') center center no-repeat fixed;
    background-size: cover;
    background-position: center center;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#mustang {
    background: darkgray url('../JPEG/logo-mustang-2.jpg') center center no-repeat fixed;
    background-size: cover;
   top: 50%;
   left: 50%;
   transform: translate(90%, -50%);
}

main.video {
    position: relative;
}

main.video iframe {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 47%;

    transform: translate(-50%, -50%);
}

main.video a {
    position: absolute;
    top: 91%;
    left: 50%;

    transform: translate(-50%, 0%);
}